<!DOCTYPE html>
<html lang="es">
<head>
    <title>Datos de Variables</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link href="static/Framework/boostrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Paquetes de Iconos-->
    <link href="static/Framework/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Boostrap Datatables CSS-->
    <link href="static/Framework/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/EstiloPersonalizadoTablas.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/principal">Menú</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/principal">
                <i class="fas fa-fw fa-home"></i>
                <span>Introducción</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/DatosVariables">
                <i class="fas fa-fw fa-info"></i>
                <span>Variables</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tablas">
                <i class="fas fa-fw fa-table"></i>
                <span>Encuestas</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/graficos">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Resultados</span></a>
        </li>
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <header class="masthead text-center text-white d-flex">
                <div class="container my-auto">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <h1 class="text-uppercase" style="color: blueviolet">
                                <strong>Datos de Variables</strong>
                            </h1>
                            <hr>
                        </div>
                        <div class="col-lg-12">
                                    <p class="text-faded mb-5" style="color: black">

                                        A continuación se mostrar la descripcion de cada variable utilizada.

                                    </p>
                                </div>
                        <div class="text-left mb-5" class="col-lg-12">
                            <dl style="color: black">
                                <dt>n_pers</dt>
                                <dd>Cantidad de personas que habitan la región afectada por el terremoto.</dd><br>

                                <dt>cons_con</dt>
                                <dd>Destrucción de construcciones de cemento y bloques de las edificaciones, puentes,
                                    etc.
                                </dd><br>

                                <dt>atrp_esc</dt>
                                <dd>Estar atrapado bajo escombros aumenta la probabilidad de muerte de las personas
                                    debido a las diversas lesiones o traumas no tratadas a tiempo.
                                </dd><br>

                                <dt>zon_urb</dt>
                                <dd>Zona geográfica urbana con gran cantidad de habitantes y edificaciones generalmente
                                    de concreto.
                                </dd><br>

                                <dt>cen_sal</dt>
                                <dd>Falta de centros de salud debido al derrumbamiento de este por el terremoto.</dd><br>

                                <dt>norm_con</dt>
                                <dd>Ausencia de normas de construcción adecuadas para la construcción de edificaciones
                                    en zonas de alto riesgo sísmico.
                                </dd><br>

                                <dt>carr_trans</dt>
                                <dd>Destrucción de carreteras y medios de comunicación.</dd><br>

                                <dt>cost_mar</dt>
                                <dd>Cercanía a la costa marítima.</dd><br>

                                <dt>inst_med</dt>
                                <dd>Falta de instrumentos médicos, medicinas y especialistas para tratar las distintas
                                    enfermedades y traumas de las personas dejadas por el terremoto.
                                </dd><br>

                                <dt>terr_noc</dt>
                                <dd>Probabilidad de ocurrencia del terremoto en la noche, lo que dificulta la reacción
                                    inmediata de las personas frente a este.
                                </dd><br>

                                <dt>cond_end</dt>
                                <dd>Condiciones endémicas. Enfermedades que afectan habitualmente a una región.</dd><br>

                                <dt>cont_cad</dt>
                                <dd>Probabilidad de contagio de enfermedades de las personas que entran en contacto
                                    físico con los cadáveres de las personas fallecidas.
                                </dd><br>

                                <dt>serv_bas</dt>
                                <dd>Interrupción de los servicios básicos de atención de salud.</dd><br>

                                <dt>des_alim</dt>
                                <dd>Desaseo de las fuentes de alimento y agua, las cuales al ser ingeridas por las
                                    personas pueden contraer enfermedades que afectan a su salud.
                                </dd><br>

                                <dt>hac_san</dt>
                                <dd>Control del Hacinamiento y Saneamiento en albergues para refugiar a los damnificados
                                    y desplazados.
                                </dd><br>

                                <dt>lluvias</dt>
                                <dd>Las lluvias pueden provocar que las personas que han sobrevivido del terremoto y no
                                    se hayan refugiado puedan contraer resfriados u otras enfermedades por las bajas
                                    temperaturas.
                                </dd><br>

                                <dt>estc_agua</dt>
                                <dd>Estancamiento de agua que permite proliferación de insectos transmisores de
                                    enfermedades vectoriales a las personas.
                                </dd><br>

                                <dt>fam_muer</dt>
                                <dd>Alteración emocional/psicológica de las personas debido a la muerte de un familiar o
                                    alguien cercano.
                                </dd><br>

                                <dt>replicas</dt>
                                <dd>Alteración emocional/psicológica de las personas debido a estar pendientes a las
                                    múltiples réplicas que ocurren luego del terremoto.
                                </dd><br>

                                <dt>enf_pre</dt>
                                <dd>Enfermedades físicas como mentales que las personas padecían antes del terremoto.
                                </dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </header>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © keviin.pythonanywhere.com 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- JavaScript-->
<script src="static/Framework/jquery/jquery.min.js"></script>
<script src="static/Framework/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/Framework/jquery-easing/jquery.easing.min.js"></script>
<script src="static/js/ScriptPersonalizado.js"></script>
<script src="static/js/Grafico.js"></script>

</body>

</html>
