<!DOCTYPE html>
<html lang="es">
<head>
    <title>Introducción</title>

    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link href="static/Framework/boostrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Paquetes de Iconos-->
    <link href="static/Framework/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Boostrap Datatables CSS-->
    <link href="static/Framework/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/EstiloPersonalizado.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/principal">Menú</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/principal">
                <i class="fas fa-fw fa-home"></i>
                <span>Introducción</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/DatosVariables">
                <i class="fas fa-fw fa-info"></i>
                <span>Variables</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tablas">
                <i class="fas fa-fw fa-table"></i>
                <span>Encuestas</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/graficos">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Resultados</span></a>
        </li>
    </ul>

    <div id="content-wrapper">
        <div class="container-fluid">
            <header class="masthead text-center text-white d-flex">
                <div class="container my-auto">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <h1 class="text-uppercase" style="color: blueviolet">
                                <strong>Introducción</strong>
                            </h1>
                            <hr>
                        </div>
                       <!-- <div class="col-lg-12">
                            <p class="text-faded mb-5" style="color: black">
                                Se evaluará los diversos factores que intervienen en la morbimortalidad que deja como
                                saldo el terremoto que azotó a la población de Pedernales.
                            </p>
                        </div>-->
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="text-justify mb-5" style="color: black">
                                    Luego del terremoto que aconteció en Ecuador en el año 2016 se vio la necesidad de
                                    realizar el análisis de las causas que llevaron a que exista morbimortalidad en el
                                    cantón Pedernales provincia de Manabí, esto debido a que el epicentro del terremoto
                                    se localizó en el lugar antes mencionado. Los expertos sobre el manejo de riesgos en
                                    desastres naturales al momento de tomar decisiones sobre qué acciones llevar a cabo
                                    después de la ocurrencia de este evento catastrófico sienten incertidumbre debido a
                                    que existen diversos factores que intervienen en la morbimortalidad de las personas
                                    que fueron víctimas del terremoto, además de saber cómo actuar de mejor manera en el
                                    momento de que vuelva a ocurrir un desastre de igual o similar magnitud.

                                </p>

                            </div>
                            <div class="col-lg-6">
                                <div class="image"><img src="/static/img/Pedernales.jpg" alt="" class="img-fluid"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="text-justify mb-5" style="color: black">
                                    Teniendo en cuenta esta problemática se propuso aplicar las metodologías de Redes
                                    Neuronales Artificiales (RNA) y Neutrosofía, donde esta última sirve mucho para el
                                    manejo de la incertidumbre y vaguedad debido a que es una generalización de la
                                    lógica borrosa en contraparte de la lógica clásica que no realiza lo anterior
                                    mencionado. Se realizó el análisis causal entre todos los factores que tuvieron que
                                    ver con las muertes y enfermedades que dejaron el evento sísmico de gran magnitud
                                    mediante la herramienta de software Mental Modeler donde se elaboró un Mapa
                                    Cognitivo Neutrosófico (MCN) el cual nos da como resultado del análisis de los pesos
                                    de los factores la centralidad que nos indica cuál es el orden de importancia a
                                    tener en consideración sobre el problema, en este caso entre todos los factores
                                    analizados el mas importante a tener en consideración son las destrucciones de las
                                    edificaciones de concreto, esto debido a que estas no aplican las normas de
                                    construcciones adecuadas para lugares geográficos con alto riesgo sísmico, Ecuador
                                    es uno de los países que se encuentra en el cinturón de fuego del Pacífico.
                                <p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © keviin.pythonanywhere.com 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- JavaScript-->
<script src="static/Framework/jquery/jquery.min.js"></script>
<script src="static/Framework/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/Framework/jquery-easing/jquery.easing.min.js"></script>
<script src="static/js/ScriptPersonalizado.js"></script>
<script src="static/js/Grafico.js"></script>

</body>

</html>
