<!DOCTYPE html>
<html lang="es">
<head>
    <title>Marco Lógico</title>
    <link rel="shortcut icon" href="static/img/UGicon.png"/>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link href="static/Framework/boostrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Paquetes de Iconos-->
    <link href="static/Framework/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Boostrap Datatables CSS-->
    <link href="static/Framework/datatables/css/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin.min.css" rel="stylesheet">

    <link href="static/css/personalizado.css" rel="stylesheet">
</head>

<body id="page-top" onload="mueveReloj()">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <ul class="navbar-nav ">
        <a class="navbar-brand mr-1" href="#" style="text-decoration: none;">Menú</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars" style="text-decoration: none;"></i>
        </button>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="" id="reloj"
                 style="color:#fff; width: 150px;font-size:14px;text-align: right"></div>
        </li>
    </ul>
</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <br>
        <li class="nav-item">
            <a class="mx-auto" rel="home" href="http://www.ug.edu.ec/" title="" style="text-decoration: none;">
                <img class="rounded mx-auto d-block" style="max-width:50px; margin-top: -7px;" src="/static/img/ug.png">
                <p class="text-center center-block">Universidad de Guayaquil</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Inicio">
                <i class="fas fa-fw fa-home"></i>
                <span>Inicio</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Introducción">
                <i class="fas fa-fw fa-chalkboard-teacher"></i>
                <span>Introducción</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Problemática">
                <i class="fas fa-question"></i>
                <span>Problemática</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/MarcoLógico">
                <i class="fas fa-fw fa-users"></i>
                <span>Marco Lógico</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="MetodologiaInvestigacion" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-microscope"></i>
                <span>Métodologia de la investigacion</span>
            </a>

            <div class="dropdown-menu" aria-labelledby="MetodologiaInvestigacion">
                <!--<h6 class="dropdown-header">Métodologia:</h6>-->
                <a class="dropdown-item" href="/TipoDeInvestigación">Tipo de Investigación</a>
                <a class="dropdown-item" href="/PoblaciónMuestra">Población y Muestra</a>
                <a class="dropdown-item" href="/GráficosEstadísticos">Gráficos Estadísticos</a>
                <a class="dropdown-item" href="/TablaDeEncuestas">Tabla de Encuestas</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="MarcoTeorico" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-book"></i>
                <span>Marco Teórico</span>
            </a>

            <div class="dropdown-menu" aria-labelledby="MarcoTeorico">
                <a class="dropdown-item" href="/Metodología">Metodología</a>
                <a class="dropdown-item" href="/TablaDeVariables">Tabla de Variables</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Resultados">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Resultados</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Bibliografía">
                <i class="fas fa-fw fa-brain"></i>
                <span>Bibliografía</span></a>
        </li>
        <li class="nav-item">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="rounded mx-auto d-block visitas" id="sfcz95z6hw9t4s77cjmz4699t9amdaghkwg">
                        <script type="text/javascript"
                                src="https://counter9.wheredoyoucomefrom.ovh/private/counter.js?c=z95z6hw9t4s77cjmz4699t9amdaghkwg&down=async"
                                async>
                        </script>
                    </div>
                </div>
                <br>
                <div class="col-lg-12 mx-auto">
                    <a class="mx-auto" rel="Visitas" href="" title="" style="text-decoration: none;">
                        <p class="text-center center-block">Visitas</p>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item">

        </li>
    </ul>


    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="container my-auto">
                <!-- Carousel -->
                <div class="row">
                    <div class="col-lg-12 mx-auto border border-primary">
                        <div class="row">
                            <div class=" col-lg-12 ">
                                <p class="text-justify mb-2" style="color: black">
                                    <strong><u>Árbol de Problemas</u></strong>
                                </p>
                            </div>
                        </div>
                        <div class="container my-auto">
                            <div class="col-lg-6 mx-auto">
                                <br>
                                <img class="d-block w-100" src="static/img/arbol_de_problemas.png"
                                     alt="Árbol de Problemas">
                            </div>
                            <p class="mx-auto text-center" style="color: black">
                                <strong>Elaboración: </strong>Diego Fernando Patiño Plazarte y Kevin Eduardo Arauz
                                González.
                            </p>
                        </div>
                        <!-- Carousel -->
                        <br>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12 mx-auto border border-primary">
                        <br>
                        <div class="row">
                            <div class="col-lg-12 mx-auto">
                                <p class="text-justify mb-2 " style="color: black">
                                    <strong><u>Análisis de involucrados</u></strong>
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-table"></i>
                                Tabla de análisis de involucrados
                            </div>
                            <div class="card-body">
                                <div class="table-responsive text-justify ">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <!-- <th style="width:50px">Id</th>-->
                                            <th style="width:25%">Grupos</th>
                                            <th style="width:25%">Intereses</th>
                                            <th style="width:25%">Problemas percibidos</th>
                                            <th style="width:25%">Recursos</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Expertos relacionados con la tarea de tomar decisiones en medidas de
                                                prevención, corrección y seguimiento a realizar después de un terremoto.
                                            </td>
                                            <td>Disminuir y/o eliminar la incertidumbre en el proceso de toma de
                                                decisiones sobre qué hacer luego del terremoto.

                                                <br><br>Identificar las variables más significativas que influyen en la
                                                morbimortalidad después de un terremoto.
                                            </td>
                                            <td>Incertidumbre en la toma de decisiones.

                                                <br><br>Carencia de modelos de apoyo a expertos para evaluar la
                                                morbimortalidad post-sísmica.
                                            </td>
                                            <td>Información sobre sus conocimientos en desastre naturales.</td>
                                        </tr>
                                        <tr>
                                            <td>Habitantes de Pedernales víctimas del terremoto.</td>
                                            <td>Mejorar el tiempo de respuesta y atenciones en las actividades
                                                realizadas por los organismos de control en terremotos.
                                            </td>
                                            <td>Mortalidad y morbilidad dejada por el terremoto.
                                                <br><br>Tiempo de respuesta poco oportuna en el control
                                                enfermedades y traumatismos físicos y psicológicos que afectan a las
                                                víctimas sobrevivientes y conllevarían a la muerte.
                                            </td>
                                            <td>Información sobre la experiencia vivida en el terremoto.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © keviin.pythonanywhere.com 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- JavaScript-->
<script src="static/Framework/jquery/jquery.min.js"></script>
<script src="static/Framework/boostrap/js/bootstrap.bundle.min.js"></script>
<script src="static/Framework/jquery-easing/jquery.easing.min.js"></script>
<script src="static/js/sb-admin.min.js"></script>
<script src="static/js/personalizado.js"></script>
<!--<script src="static/js/Grafico.js"></script>-->
</body>

</html>
