<!DOCTYPE html>
<html lang="es">
<head>
    <title>Tipo de Investigación</title>
    <link rel="shortcut icon" href="static/img/UGicon.png"/>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link href="static/Framework/boostrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Paquetes de Iconos-->
    <link href="static/Framework/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Boostrap Datatables CSS-->
    <link href="static/Framework/datatables/css/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin.min.css" rel="stylesheet">

    <link href="static/css/personalizado.css" rel="stylesheet">
</head>

<body id="page-top" onload="mueveReloj()">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <ul class="navbar-nav ">
        <a class="navbar-brand mr-1" href="#" style="text-decoration: none;">Menú</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars" style="text-decoration: none;"></i>
        </button>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="" id="reloj"
                 style="color:#fff;width: 150px;font-size:14px;text-align: right"></div>
        </li>
    </ul>
</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <br>
        <li class="nav-item">
            <a class="mx-auto" rel="home" href="http://www.ug.edu.ec/" title="" style="text-decoration: none;">
                <img class="rounded mx-auto d-block" style="max-width:50px; margin-top: -7px;" src="/static/img/ug.png">
                <p class="text-center center-block">Universidad de Guayaquil</p></a>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Inicio">
                <i class="fas fa-fw fa-home"></i>
                <span>Inicio</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Introducción">
                <i class="fas fa-fw fa-chalkboard-teacher"></i>
                <span>Introducción</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Problemática">
                <i class="fas fa-question"></i>
                <span>Problemática</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/MarcoLógico">
                <i class="fas fa-fw fa-users"></i>
                <span>Marco Lógico</span>
            </a>
        </li>

        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="MetodologiaInvestigacion" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-microscope"></i>
                <span>Métodologia de la investigacion</span>
            </a>

            <div class="dropdown-menu" aria-labelledby="MetodologiaInvestigacion">
                <!--<h6 class="dropdown-header">Métodologia:</h6>-->
                <a class="dropdown-item" href="/TipoDeInvestigación">Tipo de Investigación</a>
                <a class="dropdown-item active" href="/PoblaciónMuestra">Población y Muestra</a>
                <a class="dropdown-item" href="/GráficosEstadísticos">Gráficos Estadísticos</a>
                <a class="dropdown-item" href="/TablaDeEncuestas">Tabla de Encuestas</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="MarcoTeorico" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-book"></i>
                <span>Marco Teórico</span>
            </a>

            <div class="dropdown-menu" aria-labelledby="MarcoTeorico">
                <a class="dropdown-item" href="/Metodología">Metodología</a>
                <a class="dropdown-item" href="/TablaDeVariables">Tabla de Variables</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Resultados">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Resultados</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Bibliografía">
                <i class="fas fa-fw fa-brain"></i>
                <span>Bibliografía</span></a>
        </li>
        <li class="nav-item">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="rounded mx-auto d-block visitas" id="sfcz95z6hw9t4s77cjmz4699t9amdaghkwg">
                        <script type="text/javascript"
                                src="https://counter9.wheredoyoucomefrom.ovh/private/counter.js?c=z95z6hw9t4s77cjmz4699t9amdaghkwg&down=async"
                                async>
                        </script>
                    </div>
                </div>
                <br>
                <div class="col-lg-12 mx-auto">
                    <a class="mx-auto" rel="Visitas" href="" title="" style="text-decoration: none;">
                        <p class="text-center center-block">Visitas</p>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item">

        </li>
    </ul>


    <div id="content-wrapper">
        <div class="container-fluid">
            <header class="masthead text-center text-white d-flex">
                <div class="container my-auto">
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="row">
                                <div class="col-lg-12 border border-primary">
                                    <p class="text-justify mb-2 " style="color: black">
                                        <strong>Poblacion:</strong> La población en este trabajo de investigación son
                                        los habitantes del cantón Pedernales que fueron víctimas del terremoto ocurrido
                                        el 16 de abril de 2016. Según el último censo realizado por la INEC en el año
                                        2010, el cantón Pedernales constaba con 55128 habitantes hasta ese entonces.
                                    </p>
                                    <div class="container my-auto">
                                        <div class="col-lg-7 mx-auto">
                                            <br>
                                            <p class="mx-auto text-center" style="color: black">
                                                <strong>Ubicación geográfica de pedernales</strong>
                                            </p>
                                            <img class="d-block w-100"
                                                 src="static/img/ubicación_pedernales.png"
                                                 alt="Árbol de Problemas">
                                            <br>
                                            <p class="mx-auto text-center" style="color: black">
                                                <strong>Elaboración: </strong>Diego Fernando Patiño Plazarte y Kevin
                                                Eduardo Arauz González.
                                                <br>
                                                <strong>Fuente: </strong>Google Maps.
                                            </p>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-12 border border-primary">
                                    <p class="text-justify mb-2 " style="color: black">
                                        <strong>Muestra:</strong> Como resultado de la aplicación de la fórmula dió como
                                        muestra 382 individuos del total de la población. De la muestra obtenida, sólo
                                        se seleccionaron 30 individuos para utilizarlos como una semilla para realizar
                                        una simulación mediante el Método de Simulación de Montecarlo. Se encuestó a las
                                        30 personas y a raíz de sus respuestas se procedió a realizar la simulación, la
                                        cual nos arrojó los resultados del resto de individuos de la muestra obtenida.
                                    </p>
                                    <div class="container my-auto">
                                        <div class="col-lg-12 mx-auto">
                                            <br>
                                            <div class="col-lg-6 mx-auto">
                                                <p class="mx-auto text-center" style="color: black">
                                                    <strong>Proceso de obtención del tamaño de la muestra</strong>
                                                </p>
                                                <img class="z w-50"
                                                     src="static/img/proceso_muestra.jpg"
                                                     alt="proceso muestra">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © keviin.pythonanywhere.com 2019</span>
            </div>
        </div>
    </footer>

</div>
<!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- JavaScript-->
<script src="static/Framework/jquery/jquery.min.js"></script>
<script src="static/Framework/boostrap/js/bootstrap.bundle.min.js"></script>
<script src="static/Framework/jquery-easing/jquery.easing.min.js"></script>
<script src="static/js/sb-admin.min.js"></script>
<script src="static/js/personalizado.js"></script>
<!--<script src="static/js/Grafico.js"></script>-->
</body>

</html>
