<!DOCTYPE html>
<html lang="es">
<head>
    <title>Problemática</title>
    <link rel="shortcut icon" href="static/img/UGicon.png"/>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link href="static/Framework/boostrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Paquetes de Iconos-->
    <link href="static/Framework/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Boostrap Datatables CSS-->
    <link href="static/Framework/datatables/css/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin.min.css" rel="stylesheet">

    <link href="static/css/personalizado.css" rel="stylesheet">
</head>

<body id="page-top" onload="mueveReloj()">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <ul class="navbar-nav ">
        <a class="navbar-brand mr-1" href="#" style="text-decoration: none;">Menú</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars" style="text-decoration: none;"></i>
        </button>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="" id="reloj"
                 style="color:#fff;width: 150px;font-size:14px;text-align: right"></div>
        </li>
    </ul>
</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <br>
        <li class="nav-item">
            <a class="mx-auto" rel="home" href="http://www.ug.edu.ec/" title="" style="text-decoration: none;">
                <img class="rounded mx-auto d-block" style="max-width:50px; margin-top: -7px;" src="/static/img/ug.png">
                <p class="text-center center-block">Universidad de Guayaquil</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Inicio">
                <i class="fas fa-fw fa-home"></i>
                <span>Inicio</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Introducción">
                <i class="fas fa-fw fa-chalkboard-teacher"></i>
                <span>Introducción</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Problemática">
                <i class="fas fa-question"></i>
                <span>Problemática</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/MarcoLógico">
                <i class="fas fa-fw fa-users"></i>
                <span>Marco Lógico</span>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="MetodologiaInvestigacion" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-microscope"></i>
                <span>Métodologia de la investigacion</span>
            </a>

            <div class="dropdown-menu" aria-labelledby="MetodologiaInvestigacion">
                <!--<h6 class="dropdown-header">Métodologia:</h6>-->
                <a class="dropdown-item" href="/TipoDeInvestigación">Tipo de Investigación</a>
                <a class="dropdown-item" href="/PoblaciónMuestra">Población y Muestra</a>
                <a class="dropdown-item" href="/GráficosEstadísticos">Gráficos Estadísticos</a>
                <a class="dropdown-item" href="/TablaDeEncuestas">Tabla de Encuestas</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="MarcoTeorico" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-book"></i>
                <span>Marco Teórico</span>
            </a>

            <div class="dropdown-menu" aria-labelledby="MarcoTeorico">
                <a class="dropdown-item" href="/TablaDeVariables">Tabla de Variables</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Resultados">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Resultados</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Bibliografía">
                <i class="fas fa-fw fa-brain"></i>
                <span>Bibliografía</span></a>
        </li>
        <li class="nav-item">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="rounded mx-auto d-block visitas" id="sfcz95z6hw9t4s77cjmz4699t9amdaghkwg">
                        <script type="text/javascript"
                                src="https://counter9.wheredoyoucomefrom.ovh/private/counter.js?c=z95z6hw9t4s77cjmz4699t9amdaghkwg&down=async"
                                async>
                        </script>
                    </div>
                </div>
                <br>
                <div class="col-lg-12 mx-auto">
                    <a class="mx-auto" rel="Visitas" href="" title="" style="text-decoration: none;">
                        <p class="text-center center-block">Visitas</p>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item">

        </li>
    </ul>

    <div id="content-wrapper">
        <div class="container-fluid">
            <!--<header class="masthead text-center text-white d-flex">
                <div class="container my-auto">
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <h1 class="text-uppercase" style="color: blueviolet">
                                <strong>Bienvenido</strong>
                            </h1>
                            <hr>
                        </div>
                    </div>
                </div>
            </header>-->
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-12 mx-auto border border-primary">
                        <p class="text-justify mb-2 " style="color: black">
                            <strong>Problema:</strong> Incertidumbre por parte de los expertos en tomar decisiones con
                            mayor confianza con respecto a la morbimortalidad post-sísmica.
                        </p>
                    </div>
                </div>
                <br>
                <!-- Tabla Causas y Consecuencias -->
                <div class="row">
                    <div class="col-lg-12 mx-auto border border-primary">
                        <br>
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-table"></i>
                                Tabla de causas y consecuencias
                            </div>
                            <div class="card-body">
                                <div class="table-responsive text-justify">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <!-- <th style="width:50px">Id</th>-->
                                            <th style="width:50%">Causas</th>
                                            <th style="width:50%">Consecuencias</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Poca experiencia en toma de decisiones en situaciones que involucren
                                                manejo de factores de morbimortalidad.
                                            </td>
                                            <td>Incertidumbre al momento de tomar una decisión, debido a que esta
                                                conlleva mucha responsabilidad.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Carencia de modelos de apoyo a expertos para evaluar la morbimortalidad
                                                post-sísmica.
                                            </td>
                                            <td>Información obtenida por los expertos puede llegar a ser errónea o poco
                                                confiable.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Mala coordinación de las distintas entidades encargadas de realizar las
                                                labores posteriores a un terremoto debido a la información imprecisa
                                                receptada por los expertos evaluadores.
                                            </td>
                                            <td>Inadecuada movilización de recursos médicos y de rescate hacia las
                                                víctimas sobrevivientes.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Poco o ningún conocimiento sobe situaciones anteriores en el manejo y
                                                control de brotes epidemiológicos y traumas físicos y psicológicos que
                                                sirvan como guía para tomar medidas adecuadas.
                                            </td>
                                            <td>Tiempo de respuesta poco oportuna en el control enfermedades y
                                                traumatismos físicos y psicológicos que afectan a las víctimas
                                                sobrevivientes y conllevarían a la muerte.
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <!-- Carousel -->
                <div class="row">
                    <div class="col-lg-12 mx-auto border border-primary">
                        <div class="container my-auto">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <p class="text-justify mb-2" style="color: black">
                                        <strong><u>Antecedentes</u></strong>
                                </div>
                            </div>
                            <div class="col-lg-6 mx-auto">
                                <br>
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                            class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="static/img/introduccion1.jpg"
                                                 alt="primera imagen">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="static/img/introduccion2.jpg"
                                                 alt="segunda imagen">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="static/img/introduccion3.jpg"
                                                 alt="tercera imagen">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="static/img/introduccion4.jpg"
                                                 alt="tercera imagen">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                       data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Anterior</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                       data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Siguiente</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row mx-3">
                            <div class="col-lg-12">
                                <div class="row" style="color: black">
                                    <section class="text-justify col-sm-12" style="color: black">
                                        <ul>
                                            <li>Realizando investigaciones de antecedentes de terremotos ocurridos
                                                alrededor del mundo, estudios realizados por expertos acerca de los
                                                efectos de los terremotos en los seres humanos y publicaciones
                                                realizadas por las autoridades ecuatorianas en distintos medios de
                                                información sobre los diferentes factores que influyeron en la
                                                morbimortalidad que dejó como saldo el terremoto en el cantón
                                                Pedernales, provincia de Manabí.
                                            </li>
                                            <br>
                                            <li>Obteniendo información de artículos científicos en revistas
                                                indexadas en diferentes bibliotecas virtuales e información de
                                                expertos mediante charlas y capacitaciones directas sobre las Redes
                                                Neuronales y Neutrosofía que son temas relacionados con la
                                                Inteligencia Artificial y la aplicación posterior de estos
                                                conocimientos en el desarrollo del modelo Neuro-Neutrosófico. El
                                                modelo híbrido se realizará a partir de los Mapas Cognitivos
                                                Neutrosóficos usando el software Mental Modeler para simplificar los
                                                cálculos matemáticos.
                                            </li>
                                            <br>
                                            <li>Creando una página web informativa en lenguaje de programación
                                                Phyton con el IDE online y Web Hosting PythonAnywhere y la
                                                herramienta de software libre Jupyter notebook que sirve para
                                                mostrar los resultados obtenidos de la medición de la
                                                morbimortalidad en Pedernales post-sismo utilizando el modelo
                                                mencionado en el punto anterior.
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
        <br>
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © keviin.pythonanywhere.com 2019</span>
                </div>
            </div>
        </footer>

    </div>

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- JavaScript-->
<script src="static/Framework/jquery/jquery.min.js"></script>
<script src="static/Framework/boostrap/js/bootstrap.bundle.min.js"></script>
<script src="static/Framework/jquery-easing/jquery.easing.min.js"></script>
<script src="static/js/sb-admin.min.js"></script>
<script src="static/js/personalizado.js"></script>
<!--<script src="static/js/Grafico.js"></script>-->
</body>

</html>

