<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Tablas</title>

        <!-- Bootstrap core CSS-->
        <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template-->
        <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="static/css/sb-admin.css" rel="stylesheet">

    </head>

    <body id="page-top">


        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

            <a class="navbar-brand mr-1" href="/principal">Menu</a>

            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Navbar Search -->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <ul class="social-custom list-inline">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-home"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-chart-bar"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-table"></i></a></li>
                    </ul>
                </div>
            </form>
        </nav>


        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/principal">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Introduccion</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/graficos">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Graficos</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tablas">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Tablas</span></a>
                </li>
            </ul>

            <div id="content-wrapper">

                <div class="container-fluid">

                    <header class="masthead text-center text-white d-flex" >
                        <div class="container my-auto">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <h1 class="text-uppercase" style="color: blueviolet">
                                        <strong>DATOS ESTADISTICOS DE ENCUESTAS</strong>
                                    </h1>
                                    <hr>
                                </div>
                                <div class="col-lg-8 mx-auto">
                                    <p class="text-faded mb-5" style="color: black">Acontinuacion se muestran los resultado de las encuestas.</p>
                                </div>
                            </div>
                        </div>
                    </header>

                    <!-- DataTables Example -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-table"></i>
                            Datos encuestas</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>codigo</th>
                                            <th>edad</th>
                                            <th>genero</th>
                                            <th>nivel_ed</th>
                                            <th>sobrp</th>
                                            <th>zon_urb</th>
                                            <th>cons_con</th>
                                            <th>norm_con</th>
                                            <th>cen_sal</th>
                                            <th>inst_med</th>
                                            <th>cost_mar</th>
                                            <th>carr_trans</th>
                                            <th>atrp_esc</th>
                                            <th>terr_noc</th>
                                            <th>cond_end</th>
                                            <th>cont_cad</th>
                                            <th>serv_bas</th>
                                            <th>des_alim</th>
                                            <th>hac_san</th>
                                            <th>lluvias</th>
                                            <th>estc_agua</th>
                                            <th>fam_muer</th>
                                            <th>replicas</th>
                                            <th>enf_pre</th>
                                            <th>fam_vict</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>codigo</th>
                                            <th>edad</th>
                                            <th>genero</th>
                                            <th>nivel_ed</th>
                                            <th>sobrp</th>
                                            <th>zon_urb</th>
                                            <th>cons_con</th>
                                            <th>norm_con</th>
                                            <th>cen_sal</th>
                                            <th>inst_med</th>
                                            <th>cost_mar</th>
                                            <th>carr_trans</th>
                                            <th>atrp_esc</th>
                                            <th>terr_noc</th>
                                            <th>cond_end</th>
                                            <th>cont_cad</th>
                                            <th>serv_bas</th>
                                            <th>des_alim</th>
                                            <th>hac_san</th>
                                            <th>lluvias</th>
                                            <th>estc_agua</th>
                                            <th>fam_muer</th>
                                            <th>replicas</th>
                                            <th>enf_pre</th>
                                            <th>fam_vict</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for encuesta in encuestas %}
                                        <tr>
                                            <td>{{encuesta.0}}</td>
                                            <td>{{encuesta.1}}</td>
                                            <td>{{encuesta.2}}</td>
                                            <td>{{encuesta.3}}</td>
                                            <td>{{encuesta.4}}</td>
                                            <td>{{encuesta.5}}</td>
                                            <td>{{encuesta.6}}</td>
                                            <td>{{encuesta.7}}</td>
                                            <td>{{encuesta.8}}</td>
                                            <td>{{encuesta.9}}</td>
                                            <td>{{encuesta.10}}</td>
                                            <td>{{encuesta.11}}</td>
                                            <td>{{encuesta.12}}</td>
                                            <td>{{encuesta.13}}</td>
                                            <td>{{encuesta.14}}</td>
                                            <td>{{encuesta.15}}</td>
                                            <td>{{encuesta.16}}</td>
                                            <td>{{encuesta.17}}</td>
                                            <td>{{encuesta.18}}</td>
                                            <td>{{encuesta.19}}</td>
                                            <td>{{encuesta.20}}</td>
                                            <td>{{encuesta.21}}</td>
                                            <td>{{encuesta.22}}</td>
                                            <td>{{encuesta.23}}</td>
                                            <td>{{encuesta.24}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer small text-muted">Archivo actualizado</div>
                    </div>

                </div>
                <!-- /.container-fluid -->

                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © keviin.pythonanywhere.com 2019</span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="static/vendor/jquery/jquery.min.js"></script>
        <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Page level plugin JavaScript-->
        <script src="static/vendor/datatables/jquery.dataTables.js"></script>
        <script src="static/vendor/datatables/dataTables.bootstrap4.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="static/js/sb-admin.min.js"></script>

        <!-- Demo scripts for this page-->
        <script src="static/js/demo/datatables-demo.js"></script>

    </body>

</html>
